#overlay
  #screen
  #dialog-star.dialog
    .label-dialog
      %i.material-icons directions_bike
    .body-dialog
      %p.top
      %br
      %p.description
    .ok-dialog
      .close
        %i.material-icons clear
      .join{ onclick: '$("#chatModal").modal()' }
        %i.material-icons input
