/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material_kit
 *= require_tree .
 *= require_self
 */
html, body, .wrapper, .container, .main {
    height: 100%;
}
.wrapper.map-page {

    .sidebar {
        background: green;
    }
    .main {
        padding-right: 0px;
        padding-left: 0px;
    }
    .container {
        width: 100%!important;
        height: calc(100% - 80px);
        padding: 15px!important;
    }
    .main > .header {
        height: 80px;
    }
    .navbar {
        border-radius: 0px!important;
        box-shadow: none!important;
    }
    .main-raised {
        margin: 0!important;
        padding: 15px;
    }
}
